export HOSTNAME=synpse
export UNIX_USER=synpse
export UNIX_PASSWORD=supersecure123
# you can generate one by running `go run ./hack/genssh`
export SSH_KEY=$(cat ./assets/id_rsa.pub)
export LOCALE="en_US.UTF-8"
export TIMEZONE="Europe/Vilnius"
export WIFI_ACCESS_POINT_NAME="myawesomewifi"
export WIFI_ACCESS_POINT_PASSWORD="supersecure123"


export AGENT_PROJECT=prj_xxxxxxxxxxxxxxxx
export AGENT_REGISTRATION_TOKEN=drt_xxxxxxxxxxxxxxxx
